* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
  }
  
  body {
  
   background: #000;
  }
  
  body::after {
    content: '';
    background: url('https://svgshare.com/i/7cp.svg');
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(8deg);
    }
  }
  .carbon {
    background: #2a334c;
    border-radius: 4px;
    padding: 10px 30px 10px 30px;
    width: 65%;
    height: 85%;
    margin: 60px auto 10px auto;
    -webkit-transition: all 2s ease-out;
    -o-transition: all 2s ease-out;
    transition: all 2s ease-out;
    -webkit-box-shadow: 2px 4px 24px black;
            box-shadow: 2px 4px 24px black;
  }
  
  .tabbar {
    height: 50px;
    position: relative;
    color: white;
    padding: 1px;
    font-family: 'Orbitron', sans-serif;
  }
  
  .tabbar > div {
    padding-left: 10px;
    position: absolute;
    top: 14px;
    left: 0;
    color: #ff5f56;
    width: 100%;
  }
  
  .tabbar > div > span,
  h4 {
    display: inline;
  }
  
  h4 {
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
  }
  
  h4 > span {
    font-family: 'Orbitron', sans-serif;
    color: #27c93f;
  }
  
  .time,
  .counter {
    color: #ffbe2e;
    font-size: 25px;
    font-weight: 600;
  }
  
  button {
    font-family: 'Orbitron', sans-serif;
    border-radius: 3px;
    background-color: #ff5f56;
    width: 98px;
    height: 30px;
    top: -3px;
    right: 15px;
    position: absolute;
    font-size: 20px;
    color: white;
    -webkit-box-shadow: 2px 2px 2px #ff5f56;
            box-shadow: 2px 2px 2px #ff5f56;
    border: 1px solid rgba(0, 0, 0, 0.342);
  }
  
  button:active {
    -webkit-box-shadow: 1px 0px 1px #ff5f56;
            box-shadow: 1px 0px 1px #ff5f56;
    height: 32px;
  }
  
  .panel {
    background-color: #282a36;
    padding-left: 10px;
    border-radius: 10px;
    margin: 15px 0;
  }
  .panel .circle {
    border-radius: 50%;
    display: inline-block;
    height: 15px;
    width: 15px;
  }
  .panel__one {
    background-color: #ff5f56;
  }
  .panel__two {
    background-color: #ffbe2e;
  }
  .panel__three {
    background-color: #27c93f;
    position: relative;
  }
  
  .circle:hover {
    opacity: 0.7;
    cursor: pointer;
  }
  
  .form {
    background-color: #282a36;
    border-radius: 10px;
    padding: 15px;
    font-size: 10px;
    margin-bottom: 50px;
    -webkit-box-shadow: -1px 7px 25px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 7px 25px 0px rgba(0, 0, 0, 0.75);
  }
  .box {
    height: 110px;
    width: 107px;
    margin: 6px;
    display: inline-block;
    background: #282a36;
    border-left: 1px solid hsl(220, 100%, 50%);
    border: 5px solid hsl(220, 100%, 50%);
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    animation: rainbow 5s infinite alternate;
    -ms-animation: rainbow 5s infinite alternate;
    -moz-animation: rainbow 5s infinite alternate;
    -webkit-animation: rainbow 5s infinite alternate;
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    position: relative;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    cursor: pointer;
    -webkit-box-shadow: 3px 4px 22px 2px black;
            box-shadow: 3px 4px 22px 2px black;
  }
  
  @keyframes rainbow {
    0% {
      border-color: hsla(343, 86%, 62%, 0.3);
    }
    100% {
      border-color: hsla(211, 99%, 40%, 0.3);
    }
  }
  
  @-webkit-keyframes rainbow {
    0% {
      border-color: hsl(0, 100%, 50%, 0.3);
    }
    100% {
      border-color: hsl(255, 100%, 50%, 0.3);
    }
  }
  
  .backside {
    padding: 5px;
    margin: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background: rgba(117,8,161,.7);
    overflow: hidden;
    position: relative;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .backside > i {
    position: absolute;
    font-size: 55px;
    top: 0;
    left: 0;
    -webkit-transform: translate(27px, 30px);
        -ms-transform: translate(27px, 30px);
            transform: translate(27px, 30px);
    color: snow; 
  }
  .flipped,
  .backside {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    border: none;
  }
  
  .matchingcards {
    background: #ffbe2e;
    -webkit-transition: all 1s ease-in-out 1s;
    -o-transition: all 1s ease-in-out 1s;
    transition: all 1s ease-in-out 1s;
  }
  
  .matchingcards > i {
      color:black;
  }
  .img-game {
    height: 100px;
    width: 98px;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
  }
  #video {
    width: 300px;
    margin-left: 500px;
    display:none;
  }
  /**/
  
  body {
    margin:0;
    padding:0;
    overflow:hidden;
    background-color:black;
    }
    section{
    height:100%;
    width:100%;
      position:absolute ;  background:radial-gradient(#333,#000);
    }
    .leaf{
        position:absolute ;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }
    .leaf div{
    position:absolute ;
    display:block ;
    }
    .leaf div:nth-child(1){
        left:20%; 
        animation:fall 15s linear infinite ;
        animation-delay:-2s;
    
    }
    .leaf div:nth-child(2){
        left:70%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    .leaf div:nth-child(3){
        left:10%; 
        animation:fall 20s linear infinite ;
        animation-delay:-7s;
        
    }
    .leaf div:nth-child(4){
        left:50%; 
       animation:fall 18s linear infinite ; 
       animation-delay:-5s;
    }
    .leaf div:nth-child(5){
        left:85%; 
        animation:fall 14s linear infinite ;
        animation-delay:-5s;
    }
    .leaf div:nth-child(6){
        left:15%; 
        animation:fall 16s linear infinite ;
        animation-delay:-10s;
    }
    .leaf div:nth-child(7){
        left:90%; 
        animation:fall 15s linear infinite ;
        animation-delay:-4s;
    }
    
    @keyframes fall{
        0%{
            opacity:1;
            top:-10%;
            transform:translateX (20px) rotate(0deg);
        }
        20%{
            opacity:0.8;
            transform:translateX (-20px) rotate(45deg);
        }
        40%{
    
            transform:translateX (-20px) rotate(90deg);
        }
        60%{
            
           transform:translateX (-20px) rotate(135deg); 
        }
        80%{
        
            transform:translateX (-20px) rotate(180deg);
        }
        100%{
            
            top:110%;
            transform:translateX (-20px) rotate(225deg);
        }
        }
    .leaf1{
        transform: rotateX(180deg);
    }
    h2{
        position:absolute ;
        top:40%;
        width:100%;
        font-family: 'Courgette', cursive;
        font-size:4em;
        text-align:center;
        transform:translate ;
        color:#fff;
        transform:translateY (-50%);
    }
    .pyro > .before, .pyro > .after {
      position: absolute;
      width: 7px;
      height: 7px;
      pointer-events: none;
      z-index: 99999999;
      border-radius: 50%;
      box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
      -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }
    
    .pyro > .after {
      -moz-animation-delay: 1.25s, 1.25s, 1.25s;
      -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
      -o-animation-delay: 1.25s, 1.25s, 1.25s;
      -ms-animation-delay: 1.25s, 1.25s, 1.25s;
      animation-delay: 1.25s, 1.25s, 1.25s;
      -moz-animation-duration: 1.25s, 1.25s, 6.25s;
      -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
      -o-animation-duration: 1.25s, 1.25s, 6.25s;
      -ms-animation-duration: 1.25s, 1.25s, 6.25s;
      animation-duration: 1.25s, 1.25s, 6.25s; }
    
    @-webkit-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-moz-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-o-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-ms-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-webkit-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-moz-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-o-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-ms-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-webkit-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-moz-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-o-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-ms-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
        .phao {
          display:none;
        }
  @media screen and (max-width: 1070px) {
    .pyro > .before, .pyro > .after {
      position: absolute;
      width: 7px;
      height: 7px;
      pointer-events: none;
      z-index: 99999999;
      border-radius: 50%;
      box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
      -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
      animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; }
    
    .pyro > .after {
      -moz-animation-delay: 1.25s, 1.25s, 1.25s;
      -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
      -o-animation-delay: 1.25s, 1.25s, 1.25s;
      -ms-animation-delay: 1.25s, 1.25s, 1.25s;
      animation-delay: 1.25s, 1.25s, 1.25s;
      -moz-animation-duration: 1.25s, 1.25s, 6.25s;
      -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
      -o-animation-duration: 1.25s, 1.25s, 6.25s;
      -ms-animation-duration: 1.25s, 1.25s, 6.25s;
      animation-duration: 1.25s, 1.25s, 6.25s; }
    
    @-webkit-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-moz-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-o-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-ms-keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @keyframes bang {
      from {
        box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
    @-webkit-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-moz-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-o-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-ms-keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @keyframes gravity {
      to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0; } }
    @-webkit-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-moz-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-o-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @-ms-keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    @keyframes position {
      0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%; }
    
      20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%; }
    
      40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%; }
    
      60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%; }
    
      80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%; } }
    .box{
      height: 80px;
      width: 85px;
      margin: 5px;
      border-width: 2px;
      margin-top:-4px;
    }
    .phao {
      display:none;
    }
  /*   *{
      font-size:15px;
    } */
       .backside > i {
        -webkit-transform: translate(16px, 16px);
            -ms-transform: translate(16px, 16px);
                transform: translate(16px, 16px);
    }
    .img-game {
        width: 98px;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
        height: 100px;
      }
      #video {
        width: 300px;
        margin-left: 500px;
        display:none;
      }
      body {
        margin:0;
        padding:0;
        overflow:hidden;
        background-color:black;
        }
        section{
        height:100%;
        width:100%;
          position:absolute ;  background:radial-gradient(#333,#000);
        }
        .leaf{
            position:absolute ;
            width:100%;
            height:100%;
            top:0;
            left:0;
        }
        .leaf div{
        position:absolute ;
        display:block ;
        }
        .leaf div:nth-child(1){
            left:20%; 
            animation:fall 15s linear infinite ;
            animation-delay:-2s;
        
        }
        .leaf div:nth-child(2){
            left:70%; 
            animation:fall 15s linear infinite ;
            animation-delay:-4s;
        }
        .leaf div:nth-child(3){
            left:10%; 
            animation:fall 20s linear infinite ;
            animation-delay:-7s;
            
        }
        .leaf div:nth-child(4){
            left:50%; 
           animation:fall 18s linear infinite ; 
           animation-delay:-5s;
        }
        .leaf div:nth-child(5){
            left:85%; 
            animation:fall 14s linear infinite ;
            animation-delay:-5s;
        }
        .leaf div:nth-child(6){
            left:15%; 
            animation:fall 16s linear infinite ;
            animation-delay:-10s;
        }
        .leaf div:nth-child(7){
            left:90%; 
            animation:fall 15s linear infinite ;
            animation-delay:-4s;
        }
        
        @keyframes fall{
            0%{
                opacity:1;
                top:-10%;
                transform:translateX (20px) rotate(0deg);
            }
            20%{
                opacity:0.8;
                transform:translateX (-20px) rotate(45deg);
            }
            40%{
        
                transform:translateX (-20px) rotate(90deg);
            }
            60%{
                
               transform:translateX (-20px) rotate(135deg); 
            }
            80%{
            
                transform:translateX (-20px) rotate(180deg);
            }
            100%{
                
                top:110%;
                transform:translateX (-20px) rotate(225deg);
            }
            }
        .leaf1{
            transform: rotateX(180deg);
        }
        h2{
            position:absolute ;
            top:40%;
            width:100%;
            font-family: 'Courgette', cursive;
            font-size:4em;
            text-align:center;
            transform:translate ;
            color:#fff;
            transform:translateY (-50%);
        }
  }
  @media screen and (max-width: 1020px) {
    body {
      background: -webkit-gradient(linear, left top, right top, from(#0ABFBC), to(#FC354C));
      background: -webkit-linear-gradient(left, #0ABFBC, #FC354C);
      background: -o-linear-gradient(left, #0ABFBC, #FC354C);
      background: linear-gradient(to right, #0ABFBC, #FC354C); 
    }
    .box{
        height: 80px;
        width: 75px;
        margin: 5px;
      font-size:5%;
    }
    span {
      font-size: 14px;
    }
     .backside > i {
        -webkit-transform: translate(10px, 16px);
            -ms-transform: translate(10px, 16px);
                transform: translate(10px, 16px);
    }
    .img-game {
        width: 98px;
        border-bottom-right-radius: 20%;
        border-top-left-radius: 20%;
        height:102px
      }
  }
  @media screen and (max-width: 760px) {
    body {
       background: -webkit-gradient(linear, left top, right top, from(#f857a6), to(#ff5858));
       background: -webkit-linear-gradient(left, #f857a6, #ff5858);
       background: -o-linear-gradient(left, #f857a6, #ff5858);
       background: linear-gradient(to right, #f857a6, #ff5858); 
    }
    .box{
        height: 70px;
        width: 68px;
        margin: 4px;
    }
    
    .backside > i {
        -webkit-transform: translate(10px, 10px);
            -ms-transform: translate(10px, 10px);
                transform: translate(10px, 10px);
    }
    
      .counter,.time,span {
      font-size: 10px;
    }
    .img-game {
        width: 98px;
        border-bottom-right-radius: 20%;
        border-top-left-radius: 20%;
      }
  
  }
  @media screen and (max-width: 455px) {
    body {
        background: -webkit-gradient(linear, left top, right top, from(#d53369), to(#cbad6d));
        background: -webkit-linear-gradient(left, #d53369, #cbad6d);
        background: -o-linear-gradient(left, #d53369, #cbad6d);
        background: linear-gradient(to right, #d53369, #cbad6d);
     
    }
    .box{
      height: 35px;
      width: 35px;
      margin: 8px;
      font-size: 15px;
    }
  
    .backside > i {
    font-size: 15px;
      color:white;
    }
    button{
      font-size:7px;
      width:33px;
    }
    .counter,.time {
      font-size: 14px;
    }
  
    .img-game {
        width: 98px;
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
      height: 102px;
      }
      
  }
 